.env-container{
    width:100%;
    display: flex !important;
    align-content: space-between;
    flex-wrap: wrap !important;
}
.env{
    max-width: 15%;
    text-align: center;
    margin: 10px 0px;
    padding: 3%;
    font-size: 13px;
}